/* Strategy 360 Styles */

/**
 * Variables
 */

// Category Colors
// TODO

$category-colors: (value: (#F1BAC3, #E27588, #D93954, #A43E50, #6E2A35, #4F262D),
capability: (),
portfolio: (),
leadership: (),
impact: ());

/**
 * Colors
 */

$white: #fff;
$black: #252525;
$red: #d93954;

$bg-gray: #dedede;
$bg-light-gray: #f8f9fa;
$bg-dark-gray:#6d6e72;


/**
 * Site Navigation
 */
.site-nav-logo {
  a {
    font-size: 1rem;
    line-height: 2;

    img {
      margin-right: 0.75rem;
    }
  }
}

.site-nav {

  padding-bottom: 0;

  .nav-item {

    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 2rem;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    &:hover,
    &:focus,
    &.active {
      border-bottom-color: $red;
    }

  }

}

.site-sub-nav {

  .nav--sub {

    .nav-link {

      color: $black;
      font-size: 0.9rem;

      &:first-child {
        padding-left: 0;
      }

      &.active {
        color: $red;
        font-weight: bold;
      }

    }

  }

}


.nav {

  span.sep {
    width: 0;
    margin: 0.5rem 0;
  }

}

footer {
  position: relative;
  bottom: 0;
  background: $bg-dark-gray;
  padding: 1rem 0;
  width: 100%;
  font-size: 0.85rem;
  margin-top: 2rem;

  a,
  p {
    color: $white;
  }

  a:hover {
    color: $red;
  }
}

.cursor-p {
  cursor: pointer;

  >* {
    cursor: pointer;
  }
}

/*===============================
=            General            =
===============================*/

body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: Georgia, "Helvetica Neue";
  font-family: Arial;
}


h4 {
  font-weight: bold;
}

main {
  margin-top: 2rem;
  position: relative;
  min-height: 71vh;
}

span.sep {
  width: 0;
  margin: 0.5rem;
}

.hide {
  display: none !important;
}

/**
 * Buttons
 */
.btn-download {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: $red;
}

.btn-camera,
.btn-pdf {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: var(--yellow);
}

.btn-pdf {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

.fixflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  height: 100%;

  &__flex {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__fix {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

}

//Links styling
.data-link {
  color: $red;
  display: block;
  text-decoration: underline;
}

//Color for links
.text-color-red {
  color: $red;
}

.text-underline {
  text-decoration: underline;
}

.para-font-14 {
  font-size: 14px;
}

//Tables styling
//
.table {
  .col-first {
    background-color: $bg-light-gray;
    color: #495057;
    font-weight: 500;

    &.bold-font {
      font-weight: 700;
    }
  }

  .row-heading {
    background-color: $red;
    color: #fff;
    font-weight: 500;

    .col-first-heading {
      background-color: #9c9d9d;
    }
  }

  .row-first {
    font-weight: 700;
  }

  //Overriding table styling
  th {
    padding: 0.5rem;
  }

}

.inline {
  display: inline-block;
}

.bg-red {
  background-color: $red;
}

// No rounded borders
.btn,
.dropdown-menu,
.dropdown-item,
.alert {
  border-radius: 0;
}

.text-success path,
.text-success path {
  fill: #28a745!important;
}
.text-danger path {
  fill: #d93954!important;
}

.loader {
  align-items: center;
  display: block;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
  background-color: rgba(255, 255, 255, 0.7);

  &__dots { 
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #868686;
      margin: 35px 5px;
    
      &:nth-child(1) {
        animation: loader-bounce 1s ease-in-out infinite;
      }

      &:nth-child(2) {
        animation: loader-bounce 1s ease-in-out 0.33s infinite;
      }

      &:nth-child(3) {
        animation: loader-bounce 1s ease-in-out 0.66s infinite;
      }
    }
  }

  @keyframes loader-bounce {
    0%, 75%, 100% {
      opacity: .5;
      transform: translateY(0);
    }

    25% {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
}

/*=====  End of General  ======*/

/*=====================================================
=            Fixed Header and Column Table            =
=====================================================*/

.tbl-fixed {

  .fix-column {
    float: left;
    width: 35%;
    height: 100%;

    .thead {
      >span {
        background-color: #9c9d9d;
        color: white;
        font-weight: bold;
        width: 100%;
      }
    }

    .tbody {

      overflow: hidden;

      background-color: #f8f9fa;
      color: #495057;


      >.trow {
        margin-top: -50px;
        margin-bottom: 50px;

        &:first-child {
          margin-top: 0px;
        }

        span {
          font-weight: bold;
          width: 100%;
          white-space: normal;
        }
      }

    }
  }

  .thead {
    height: 40px;
    white-space: nowrap;
  }

  .thead>span {
    display: inline-block;
    width: 120px;
    line-height: 40px;
    //box-shadow: inset 0 0 1px 0 rgba(0,0,0,.5);
    background-color: $red;
    text-align: left;
    padding-left: 1rem;
    color: white;
    font-weight: bold;
  }

  .trow {
    white-space: nowrap;
    //height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #dee2e6;
  }

  .trow>span {
    display: inline-block;
    min-width: 120px;
    padding: .75rem .75rem .75rem 1rem;
    vertical-align: middle;
    line-height: normal;
    text-align: left;

    >* {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .tbody {
    height: calc(100% - 40px);
    overflow: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .rest-columns {
    width: 100%;
    height: 100%;
  }

  .rest-columns>.thead {
    background-color: $red;
    overflow: hidden;
  }

  /*.rest-columns > .thead > :last-child {margin-right: 50px;}*/
  .rest-columns>.thead>span {
    margin-right: 50px;
    margin-left: -50px;
  }

  .rest-columns>.thead> :first-child {
    margin-left: 0px;
  }

  .rest-columns .tbody .trow {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
    &:first-child .tbar {
      margin-top: -6px;

      .tbar__value {
        background-color: $black;
        height: 20px;
      }
    }
  }

  .tbar {
    width: 50px;
    height: 15px;
    position: relative;
    margin-top: -2px;

    &__value {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: gray;
    }
  }
}


/*=====  End of Fixed Header and Column Table  ======*/



/*=================================
=            Dashboard            =
=================================*/

.graph-container {
  margin-top: 2rem;

  .graph {}

  &.perf-cat-graph {

    .graph {
      height: 450px;

      text.arcText {
        font-size: 1rem;
        font-weight: bold;
      }

      tspan {
        &.up {
          fill: #28a745;
        }

        &.down {
          fill: $red;
        }
      }

      .g-text text tspan:not(:first-child) {
        opacity: 0;
        font-size: 0.875rem;
      }

      &.show-details {
        .g-text text tspan:not(:first-child) {
          opacity: 1;
        }
      }
    }

    .graph-info {
      &__value {
        font-weight: bold;
        font-size: 2rem;
        line-height: 1;
      }

      &__benchmarkr1 {
        margin-bottom: -5px;
      }
    }

  }
}

.tb--dashb {

  &__highlights {
    margin: 3rem 0 0 0;
    padding: 1rem;
    background-color: $bg-gray;
  }

  &__participation {
    padding: 1rem;
    margin: 1rem 0;
  }

  .graph-container .graph {
    overflow-y: auto;
  }

  .graph-container--table {
    height: 520px;

    .graph {
      overflow: visible;
    }
  }

}

.highlights-content>* {
  display: inline-block;
  width: calc(50% - 1rem);
  padding-right: 2rem;
}

.hl-indicator {
  margin-bottom: 2.5rem;

  &__title {
    text-decoration: underline;
    font-weight: bold;
    font-family: Arial;
  }

  &__content {
    margin-bottom: 0;
  }

  &__figure {
    font-weight: bold;
  }

  span {
    margin-right: 0.25rem;
  }
}

.pc-indicator {

  span {
    font-weight: bold;
  }

  &__icon {
    //font-size: 2.5rem;
    max-width: 10%;
    display: inline-block;
    //line-height: .5;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}


.dashboard-select {
  margin-left: 0.5rem;

  .dashboard-select__category {
    color: #4e555b;
    background-color: transparent;
    border-color: #d93954;

    &:hover,
    &:focus,
    &:visited,
    &.show,
    &.active {
      color: #4e555b;
      background-color: transparent;
      border-color: #d93954;
    }
  }
}

.insights-content {

  &__graph {

    width: 100%;

    svg {
      display: block;
      width: 100%;
      //height: 100%;
      // long value such that width is considered
      // for the graph
      height: 2520px;

      path {
        cursor: pointer;
      }

      text {
        //text-anchor: middle;
      }

      .g-text {
        text {
          tspan:first-child {
            font-size: 1rem;
            font-weight: bold;
          }

          tspan:not(:first-child) {
            font-size: 0.875rem;
          }
        }
      }

      tspan {
        &.up {
          fill: #28a745;
        }

        &.down {
          fill: $red;
        }
      }
    }

  }

  &__graphinfo {

    .graph-info__value {
      font-size: 1.5rem;
    }

    .graph-info__benchmark {
      line-height: 1;
      font-size: 0.875rem;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1070px) {

   .pr-5-ipad-l {
     padding-right: 2.5rem;
   }
   .mr-5-ipad-l {
    margin-right: 2.5rem;
   }

}

/*=====  End of Dashboard  ======*/

/*====================================
=            Filter Panel            =
====================================*/

.sidepanel {

  margin-bottom: 2rem;

  .dropdown-header {
    color: inherit;
    font-weight: bold;
  }

  .dropdown-menu {
    top: 0;
    background-color: $bg-gray;
    position: relative;
    width: 100%;

    .dropdown-item {
      cursor: pointer;
      padding: .5rem 1.5rem;

      label {
        margin: 0;
        cursor: pointer;
        vertical-align: middle;
        white-space: normal;
      }

      [data-icon] {
        vertical-align: middle;
      }
    }

    .dropdown-item,
    .dropdown-item-selection {

      &.active:not(:active) {
        background-color: $bg-light-gray;
        color: inherit;
      }

    }
  }


  &--filter {

    >.dropdown-menu {

      &:not(.dropdown-menu--submenu) {

        .dropright>.dropdown-item>input[type="checkbox"] {
          //pointer-events: none;
          right: auto;
          width: 4rem;
        }
      }
    }

    .dropdown-menu--submenu {
      background-color: $bg-light-gray;
    }

    .dropdown-item {
      font-weight: bold;

      //&.active,
      &:active {
        background-color: var(--gray);
      }

      &.active {
        color: inherit;
      }

      [data-icon] {
        //float: right;
        //margin-top: .25rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .5rem;
        margin-top: .2rem;
      }
    }

    .dropdown-item-selection {
      padding-left: 2rem;
      font-size: .925rem;
    }

  }

  &--action {

    .dropdown-item {

      [data-icon] {
        margin-right: .875rem;
      }
    }

  }

  &--selectlist {

    .dropdown-item {
      [data-icon] {
        visibility: hidden;
        display: inline-block;
      }

      &.active {

        [data-icon] {
          visibility: visible;
        }

      }

      input[type="checkbox"] {
        width: 4rem;
      }
    }

  }

}

.modal {
  .sidepanel .dropdown-item [data-icon] {
    margin-left: 1rem;
    float: right;
    margin-top: 0.25rem;
  }
}


/*=====  End of Filter Panel  ======*/

/*==================================
=            Insights            =
==================================*/

.insights-content {
  .insights-content__text {
    p {
      margin-bottom: 0.5rem;
    }

    .insights-content__cam-icon {
      float: right;
      margin-top: 4.5rem;
      background: transparent;
    }
  }
}

/*=====  End of Insights  ======*/

/*==================================
=            Archetypes            =
==================================*/

//Archetypes main outer container
.arch-container {

  .arch-graph-container {
    cursor: pointer;
    margin-top: 0;
    height: 345px;
  }

  .arch-header-text {
    margin-bottom: 1rem;
  }

  .camera-icon {
    background: transparent;

    &.btn-download {
      top: inherit;
      width: 50px;
      right: 8.5rem;
    }

    svg {
      float: right;
    }
  }

  .archetype {
    color: $red;
  }

  .archetype-descr {
    font-size: 14px;
  }

  .graph-text-note {
    font-size: 14px;
    margin-top: 1rem;
  }

  .arch-table-header {
    margin-bottom: 1rem;
  }

  .graph-container--table {
    height: 430px;

    .tbody .trow:first-child {
      font-weight: bold;
    }

    .fix-column .tbody .trow:not(:first-child) span {
      font-weight: normal;
    }
  }

}

.arch-graph-container .graph {
  //background-image: url(../images/Archetype-Graphic_AllGray850x570.gif);
  //background-size: contain;
  //background-repeat: no-repeat;

  svg {
    display: block;
    height: 100%;
    width: 100%;

    path {
      cursor: pointer;
      opacity: 1;
    }

    .highlight,
    .active {
      path,
      text {
        fill: $red;
      }
    }

  }
}

.modal .arch-graph-container .graph svg {

  .highlight{
      path,
      text {
        fill: $black;
      }
    }
}

.tooltip:not([class*="bs-tooltip-"]) {
  opacity: 1;
  background: white;
  padding: 0.5rem;
  max-width: 40%;
  margin: 0 0 0 2rem;
  display: none;
}

//Modal styling

//Overriding modal max width 
.modal-archetype {

  .modal-dialog {
    max-width: 950px;

    .modal-graph-container {
      height: 350px;
      margin-bottom: 3rem;
      margin-left: 1rem;
    }

  }
}


/*=====  End of Archetypes  ======*/

/*===================================
=            Consistency            =
===================================*/
.consistency-container {

  .diamond {
    margin-left: 4.75rem;

    svg {
      position: absolute;
      height: auto;
      top: -5px;
    }

    .diamond-text {
      position: absolute;
      left: 7.5rem;
      top: 0.25rem;
    }

    &--legend svg {
      position: relative;
      top: 1px;
    }
  }

  .underscore {
    margin-left: 4rem;

    svg {
      position: absolute;
      top: 1.7rem;
    }

    .underscore-text {
      position: absolute;
      top: 2rem;
      left: 7.5rem;
      line-height: 1.2;
    }
  }

  .consistency-row--category {

    .diamond {
      margin-top: 0rem;
      font-size: 0.65rem;
      position: relative;
      margin-left: 0.5rem;
    }

    &.show-axis {
      .gq-tuple__value label {
        display: block;
        margin-top: 1.25rem;
      }

      .gq-tuple__title label {
        margin: 0;
        padding-top: 0.5rem;
      }
    }

    .diamond svg.fa-caret-down {
      top: 2px;
    }
  }
}


/*=====  End of Consistency  ======*/

/*====================================
=            Demographics            =
====================================*/

.demographics-container {

  .demographics-content__cam-icon {
    background: transparent;
    float: right;
    margin-top: 2.5rem;
  }

}


/*=====  End of Demographics  ======*/



/*===============================
=            Details            =
===============================*/

.questions-list {
  max-height: 100%;
  overflow-y: auto;
  height: 400px;
  margin-bottom: 1rem;
}

.ff-question-wrapper {
  overflow-y: auto;
  max-height: 400px;

  .gq:nth-child(even){
    background-color: #e2e3e5;
  }
}


/*=====  End of Details  ======*/

/*===================================
=            Prototyping            =
===================================*/

// Placeholder
.pl {
  background-color: var(--gray);
}

footer {
  //display: none;
}



/*=====  End of Prototyping  ======*/


/*================================
=            Checkbox            =
================================*/

$md-cb-checked-color: $white;
$md-cb-border-color: $red;
$md-cb-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-cb-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-cb-margin: 0;
$md-cb-size: 1.25rem;
$md-cb-padding: .25rem;
$md-cb-border-width: 2px;
$md-cb-border-radius: 0.125rem;
$md-cb-radio-border-radius: 100%;
$md-checkmark-width: 0.125rem;
$md-checkmark-color: $black;
$md-cb-label-padding: 2rem;

.md-cb {
  position: relative;
  margin: $md-cb-margin;
  text-align: left;

  &.md-cb-inline {
    display: inline-block;
  }

  &__unset {
    display: none;
    font-size: 1.2rem;
    margin-top: 2px;
    padding: 0 .5rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }

  label:nth-of-type(1) {
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: $md-cb-size;
    vertical-align: middle;
    clear: both;
    padding-left: 1px;
    margin: 0;

    &:not(:empty) {
      padding-left: $md-cb-label-padding;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-cb-size;
      height: $md-cb-size;
      background: #fff;
      border: $md-cb-border-width solid $md-cb-border-color;
      border-radius: $md-cb-border-radius;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  &.disabled {
    color: inherit;
    label:before,
    label:after {
      visibility: hidden;
    }

    input {
      cursor: not-allowed !important;
    }

    .md-cb__unset {
      display: none !important;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    outline: 0;
    width: $md-cb-size;
    margin: 0;
    display: block;
    font-size: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;

    &:checked {
      +label:before {
        background: $md-cb-checked-color;
      }

      +label:after {

        $md-checkmark-size: $md-cb-size - 2 * $md-cb-padding;

        transform: translate($md-cb-padding, ($md-cb-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }

      +label+.md-cb__unset {
        display: block;
      }
    }

    &:disabled {
      +label:before {
        border-color: $md-cb-border-color-disabled;
      }

      &:checked {
        +label:before {
          background: $md-cb-checked-color-disabled;
        }
      }
    }
  }


  &--radio {

    label:nth-of-type(1) {

      &:before {
        // box
        border-radius: $md-cb-radio-border-radius;
      }

    }

    input[type="radio"] {

      &:checked {

        +label:after {

          $md-checkmark-size: $md-cb-size - 2 * $md-cb-padding;

          transform: translate($md-cb-padding, $md-cb-padding);
          width: $md-checkmark-size;
          height: $md-checkmark-size;

          background-color: $md-checkmark-color;
          border-radius: $md-cb-radio-border-radius;
        }
      }

    }

  }

}


/*=====  End of Checkbox  ======*/


/*==============================
=            Modals            =
==============================*/

.modal {

  // Full Screen Modal
  &.modal-fs {

    .modal-dialog {
      width: 80% !important;
      max-width: 80% !important;
    }

  }

  .modal-footer {
    justify-content: flex-start;
  }
}


/*=====  End of Modals  ======*/

/*==========================================
=            Question Graph Row            =
==========================================*/

.gq {

  position: relative;
  border-bottom: dotted 1px var(--gray);
  //padding-top: 1.5rem;
  margin-bottom: 1.5rem !important;

  &__title {
    position: relative;
    margin-bottom: 2rem;

    b {
      margin-right: 0.5rem;
    }
  }

  &-tuple {
    &__graph {

      svg {
        height: 35px;
        width: 100%;
        display: block;

        &.svg-inline--fa {
          height: 1em;
        }
      }

    }

    &__legend {

      padding-top: 1rem;

      svg {
        height: 50px;
        width: 100%;
        display: block;
      }

    }
  }

}

.graph-single-question .gq {
  border-bottom: 0;

  .gq-tuple {

    &:not(:last-child) {
      border-bottom: dotted 1px var(--gray);
    }

    padding: 1rem 0;

    svg {
      height: 24px;
    }
  }
}

// Category Headings
// 
.alert {

  &--head {
    //margin: 2rem 0 1rem 0;
    color: white;
    font-weight: bold;
  }
}


.percentage-graph {

  margin-bottom: 0;

  &__bar {

    vertical-align: middle;
    //overflow: hidden;

    &-bg {
      height: 25px;
      margin: 0.35rem 0;
    }

    &-value {
      color: $white;
      margin-left: 0.5rem;
      font-size: 0.875rem;
      vertical-align: middle;
      margin-bottom: 0;
      height: 100%;
    }

    >* {
      vertical-align: middle;
    }

    &--all {
      .percentage-graph__bar-bg {
        height: 30px;
      }
      .percentage-graph__bar-value {
        line-height: 30px;
      }
    }
  }

  .hl-indicator {
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  .hl-indicator>* {
    display: inline-block;
    vertical-align: middle;
  }
}

.demographics-content__graph {
  .gq {
    margin-bottom: 0 !important;

    .gq-tuple {
      margin: 0;
    }
  }

  .gq-tuple__title {
    background-color: $bg-light-gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}


.demograph {
  margin-bottom: 0;
  //padding-top: 1rem;

  &-bar {
    //padding-top: .6rem;
  }

  >* {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }


  &__figures>* {
    display: inline-block !important;
    height: auto !important;
    width: 1.35rem !important;
  }

  &__value {
    width: 2rem;
    font-size: 0.875rem;
    //font-weight: bold;
    margin-right: 0.5rem;
  }
}

/*=====  End of Question Graph Row  ======*/

/*==============================
=            Graphs            =
==============================*/

.graph-svg {
  display: block;
  margin: auto;
}

.stackedbar {}

.deviationbar {

  .axis {
    .tick:first-child text {
      text-anchor: start;
    }

    .tick:last-child text {
      text-anchor: end;
    }
  }
}

/*=====  End of Graphs  ======*/

/*===============================================
=            Download Image specific            =
===============================================*/

.taking-snapshot {

  .gq,
  .gq-tuple {
    border-bottom: 0 !important;
    margin-bottom: 0;
  }

}


/*=====  End of Download Image specific  ======*/

